{% extends "ong/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/registrar_lar.css' %}">

<a href="{% url 'gatos:dashboard_admin_lar_temporario' %}" class="back-link">&larr; Voltar</a>

<div class="form-container">
    <h1 class="form-title">REGISTRAR LAR TEMPORARIO</h1>

    <form method="post">
        {% csrf_token %}

        <label>Gato</label>
        <select name="gato" required>
            <option value="">Selecione o gato</option>
            {% for gato in gatos %}
                <option value="{{ gato.id }}">{{ gato.nome }}</option>
            {% endfor %}
        </select>

        <label>Voluntário</label>
        <select name="lar" required>
            <option value="">Selecione o voluntário</option>
            {% for lar in lares %}
                <option value="{{ lar.id }}">{{ lar.nome }}</option>
            {% endfor %}
        </select>

        <label>Início</label>
        <input type="date" name="data_inicio" required>

        <button type="submit">Registrar</button>
    </form>

</div>

{% endblock %}
