{% load static %}
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<div class="header-container">
    <img src="{% static 'img/header.png' %}" alt="Header da ONG" class="header-image">

    <div class="nav-bar">
        <div class="nav-left">
            <img src="{% static 'img/logo.png' %}" alt="Logo" class="logo">
        </div>

        <!-- Botão de menu hamburguer -->
        <div class="menu-toggle" onclick="toggleMenu()">
            <div></div>
            <div></div>
            <div></div>
        </div>

   <!-- Menu de navegação -->
    <nav class="nav-center" id="navMenu" role="navigation" aria-label="Menu principal">
      <!-- Ajuste os nomes entre '' se a sua app usar outro nome de URL -->
      <a class="nav-link" href="{% url 'home' %}">Home</a>
      <a class="nav-link" href="{% url 'adocoes:lista' %}">Adoção</a>
      <a class="nav-link" href="{% url 'lares_temporarios:lista' %}">Lar Temporário</a>
      <a class="nav-link" href="">Adotados</a>
      <a class="nav-link" href="{% url 'doacoes' %}">Doações</a>
    </nav>

        <div class="nav-right">
            <!-- <div class="user-circle"></div> -->
        </div>
    </div>
</div>

<script>
    function toggleMenu() {
        const navMenu = document.getElementById('navMenu');
        navMenu.classList.toggle('active');
    }
</script>