{% extends "ong/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/registrar_adocao.css' %}">
<link rel="stylesheet" href="{% static 'css/adocao.css' %}">

<a href="{% url 'administrador:dashboard_admin_adotados' %}" class="back-link">&larr; Voltar</a>

<div class="form-container">
    <h1 class="form-title">
    {% if adotado %}EDITAR ADOÇÃO{% else %}REGISTRAR UMA ADOÇÃO{% endif %}
    </h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <label>Gato</label>
        <select name="gato" required>
            <option value="">Selecione o gato</option>
            {% for gato in gatos %}
                <option value="{{ gato.id }}"
                    {% if adotado and adotado.gato.id == gato.id %}selected{% endif %}>
                    {{ gato.nome }}
                    {% if gato.lar_temporario %}(Em Lar Temporário){% endif %}
                </option>
            {% endfor %}
        </select>

        <label>Adotante</label>
        <select name="adotante" required>
            <option value="">Selecione o adotante</option>
            {% for adotante in adotantes %}
                <option value="{{ adotante.id }}"
                    {% if adotado and adotado.adocao.id == adotante.id %}selected{% endif %}>
                    {{ adotante.nome }} — {{ adotante.email }}
                </option>
            {% endfor %}
        </select>

        <label>Início</label>
        <input type="date" name="data_inicio"
            value="{% if adotado %}{{ adotado.data_inicio|date:'Y-m-d' }}{% endif %}"
            required>


        <label>Foto do gato</label>
        <input type="file" name="foto">

        <button type="submit">Registrar</button>
    </form>

</div>

{% endblock %}
